@import url(https://ionic.io/ionicons/usage);
*
{
    margin: 0px; 
    padding: 0px;
    font-family: 'Teko', sans-serif;
}
/* .top
{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(6, 157, 233);
} */
.nav{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:95%;
    position:absolute;
    left: 5px;
    color:rgb(14, 133, 231);
    /* height: 50px; */
}
.nav ul
{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav ul li a
{
    text-decoration: none;
    padding: 9px;
    font-size: 15px;
    color: rgb(14, 133, 231);
   
}
.nav ul li:nth-last-child(1) a
{
    background: black;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    padding: 3px 3px;
    letter-spacing: 1px;
    box-shadow: 1px 1px rgb(78, 76, 76);
}
.nav ul li a:hover
{
 background: rgb(14, 133, 231);
 color: whitesmoke;
 border-radius: 5px;
 padding: 5px;
 transition: 1s;
}

.topbg
{
    top: 40px;
    position: absolute;
    display:flex;
    height: 100%;
    width: 100%;
   
}
.topbg::before
{
    content: "";
    position: absolute;
    background: url('img/background1.png') no-repeat center center/cover;
    height: 500px;
    width: 100%;
    z-index: -2;
    border-radius: 5px;
}
.Htext
{
    position: relative;
    color: azure;
    margin-left: 20px;
}
.Htext pre{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* left: 18%; */
    top: 50px;
    font-size: 0.8rem;

}
.Htext h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    color: black;
    line-height: 30px;
    position: relative;
    top: 35px;
    /* left: 35%; */
}
.Hbtn
{
    position: relative;
    top: 60px;
    background: black;
    color: rgb(250, 244, 234);
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}
.Hcard
{
    position: relative;
    top: 70px;
    display: flex;
    color: black;
    background: white;
    padding: 10px;
    margin: 15px;
    margin-left: 0px;
    border-radius: 10px;
    width: 55%;
}
.Hinput
{
    /* border: none; */
    font-size: 10px;
    padding: 0px;
    margin: 0px 9px;
    margin-top: 0px;
    border: none;
}
.cardText
{
    margin: 10px;
    margin-bottom: 0px;
    /* height: 20px; */
}
.cardbtn
{
   top: 25px;
   height: 25px;
   position: relative;
   background: black;
   color: aliceblue;
   /* border: 4px solid black; */
   border: none;
   border-radius: 5px;
   width: 50px;
   left: 50px;
}
.Hbtn:hover,
.cardbtn:hover
{
    background: rgb(14, 133, 231);
}

.tripBox
{
    top: 0px;
    display: flex;
    position: relative;
    height: 300px;
    width: 100%;
    /* border: 5px solid brown; */
    z-index: -1;
    border-radius: 10px;
    box-shadow:  0px 3px 25px -10px red;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.tripBox::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(144, 138, 138,0.1);
    backdrop-filter: blur(5px);
    z-index: -1;
    border-radius: 10px;
}
.tripBox h4
{
    /* padding-top: 60px; */
    margin-top:-150px;
    padding-left: 30px;
}
.tripCard
{
    position: relative;
    border: none;
    margin: 5px;
    height: 120px;
    width: 160px;
    top: 20px;
    left: -100px;
    display: flex;
    justify-content: center;    
}
.TripLocantion 
{
    position: absolute;
    display: flex;
    
}
.CountryImg
{
    /* position: relative; */
    height: 15px;
    width: 15px;
    padding: 2px;
    display: flex;
    margin: 3px 3px;
    /* padding-bottom: 5px; */
}
.pleacImg 
{
    /* position: relative; */
    position: absolute;
    height: 90px;
    width: 150px;
    top: 20px;
    padding-top: 10px;
    border-radius: 10px;
    /* flex-direction: column; */
}
.TripBtns
{
    position: relative;
    top: 120px;  
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    color: black;
    line-height: 1rem;
}
.TripBtn{
    background: black;
    color: rgb(250, 244, 234);
    width: 65px;
    border: none;
    cursor: pointer;
    /* padding: 5px; */
    border-radius: 3px;
}
.TripBtn:hover
{
    cursor:pointer;
    background: rgb(139, 131, 131);    
    box-shadow: 2px 3px 10px rgb(72, 65, 65);
}

.offer
{
    position: relative;
    display: grid;
    justify-content: center;
    min-width: 10vh;
    align-items: center;

    top: 600px;
}
.OfferBox{
    position: relative;
    display: flex;
    /* border: 5px solid blue; */
    /* height: 200px; */
    width: 98%;

    /* background: black; */
}
.Ohtext
{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 27px;
    
}
.OfferHead{
    position: relative;
    display: flex;
    /* border: 5px solid rgb(188, 201, 11); */
    height: 425px;
    width: 224px;
    flex-direction: column;
    
    
}
.OtitleText
{
    position: relative;
    color: black;
    display: flex;
    /* min-height: 10vh; */
    justify-content: center;
    background: palegreen;
    margin: 10px 75px;
    border-radius: 5px;
    
}
.OpleacImg
{
    position:relative;
    height: 268px;
    width: 214px;
    left: 10px;  
    border-radius: 10px; 
    z-index: -2; 
}
.OfferHead h4
{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    padding: 0px 10px;
    bottom: 0px;
    top: -43px;
    z-index: 1;
    box-shadow: 3px   rgb(179, 176, 176);
    width: 98%;
}
.OfferBox h4::before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 92%;
    /* alpha is most importent for this effect */
    background: gray,0.3;
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:  0px 50px;
    z-index: -1;
}
.Oicon
{
    /* border: 2px solid rgb(232, 120, 120); */
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    /* margin: 25px; */
    margin: 20px;
    position: relative;
    top: -35px;
    margin-top: 0px;
}
.Odays
{
    display: flex;
   
    align-items: center;
    font-size: 10px;
    background: rgb(17, 17, 17);
    color:aliceblue;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    right: -15px; 
    height: 40px;
    width: 40px;
}
.Odays h3
{
    position: relative;
    left: 3px;
    
}
.Oinfo
{
    display: flex;
    /* padding: 5px; */
}
.Oinfo a
{
    /* padding: 10px; */
    margin-right: 15px;
    text-decoration: none;
    color: black;
}
.Ocomments
{
    position: relative;
    padding: 0px 5px;
    top: -3px;
    padding-right: 15px;

}
.Destination
{
    /* border: 5px solid green; */
    position: relative;
    top: 600px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.Dlist
{
    position: relative;
    padding: 20px;
    margin: 20px;
    padding-right: 100px;
    margin-right: 45px;
}
.DHtext
{
    /* position: relative; */
    
    font-size: 40px;
    padding: 0px;
    line-height: 2rem;
}
.Dtext
{
    font-size: 18px;
}
.Dlist ul
{
    padding: 20px;
}
.Dlist ul li 
{
    list-style: none;
    
}
.Dlist ul li a
{
    text-decoration: none;
    font-size: 25px;
}
.Dplain img
{
    height: 450px;
    width: 330px;
    padding: 20px;
    margin: 20px;
    padding-top: 0px;
    margin-top: 0px;
    
    
}
.Dplain
{
    /* border: 5px solid red; */

}
.Dpop
{
    /* border: 5px solid yellow; */
    display: flex;
    width: 150px;
    position: relative;
    top: -380px;
    left: 230px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px rgb(167, 165, 164);
}
.Dpop:nth-child(3)
{
    color:blueviolet;
    left: -10px;
    top: -250px;

}
.Dpop img 
{
    height: 34px;
    width: 35px;
    margin: 0px;
    padding:15px;
    padding-right: 5px;
}
.DpopIcon h4
{
    left: 20px;
    position: relative;
    font-size: 25px;
    padding: 0px;
    padding-top: 10px;
}
.Dicon
{
    position: relative;
    top: -3px;
    padding: 0;
    padding-left: 3px;
    padding-right: 5px;
}
.Dlist button
{
    left: 10px;
}
.Sapport
{
    /* border: 5px solid blueviolet; */
    position: relative;
    top:450px;
    display: flex;
    justify-content: center;
}

.ShText
{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.Stext p{
    position: relative;
    left: 23px;
}
.Slog
{
    position: relative;
    display: flex;
    justify-content: center;
}
.Sinput
{
    position: relative;
    width: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.Sbtn
{
    background: black;
    color: white;
    border: none;
    padding: 0px 8px;
    font-size: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
/* .Sunder
{
    position: relative;
    width: 100px;
    height: 1px;
    background: black;
    /* left: 40px; */
    

.Syear
{
    position: relative;
    display: grid;
    justify-content: center;
    padding: 25px;
    
}
.Syear h3
{
    position: relative;
    display: flex;
    justify-content: center;
}
.Syear p
{
    position: relative;
    display: flex;
    justify-content: center;
    left:0px;
    border-top: 2px solid black;
}

.Suser
{
    display: flex;
    padding: 0px;
}

/* addtinoal era
*/
.active
{
    background: rgb(239, 28, 8);
}