@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body
{
    margin: 0px;
    padding: 0px;
    
    
}
.picHolder
{
    position: absolute;
    display: flex;
    background: url(bg2.jpg) no-repeat center center/cover;
    justify-content: center;
    align-items: top;
    height: 200%;
    width: 100%;
}
.Sname
{
    padding: 0px;
    margin: 0px;
    
}
.Sname h3
{
    font-size: 2.5rem;
    color: rgb(218, 142, 10);
    font-style: italic;
    margin: 0px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
   
}
.Sname h3 span
{
    color: white;
}
.Sname pre
{
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 9rem;
    margin: 0px;
    /* margin-left: -140px; */
}
.Sname p
{
    color:  rgb(218, 142, 10);
    font-size: 3rem;
    margin:0px;
    margin-top: -70px;
    margin-left: 100px;
}
.input
{
 position: absolute;
 min-height: 10vh;
 align-items: center;
 margin-top: 40px;
 margin-left: 10px;
  /* top: 80px;  */
}
.input input
{
    height: 31px;
    width: 500px;
    border-radius: 10px;
    /* margin-left: 50px; */
}
 .btn
{
    height: 38px;
    width: 100px;
    
    /* background-color: aqua; */
    /* transform:  */
    /* btn colorize have to be  */
}
.btn:hover
{
    background-color: rgb(218, 142, 10);
    letter-spacing: 2px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 3px rgb(239, 225, 165);
    cursor: pointer;
}
.time-item
{
    color: white;
    padding: 10px;
    font-size: 3rem;
    background-color: #a36d18;
    margin: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 122px;
    left: 214px;
    border-radius: 19px;


    
}
.time-count
{
    position: relative;
    display: flex;
     justify-content:center; 
    /* align-items: center; */
    left: -36%;
    color: white;
    height: 150px;
    float: left;
   
}
.numbers
{
    position: relative;
    margin-bottom: -30px;
    align-items: center;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.fix
{

}
.text
{
    position: relative;
    color: aliceblue;
    top: 150px;
    font-size: 2rem;
}
.foot
{
    color: white;
    top: 157px;
    font-size: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;

}