@import url(https://ionic.io/ionicons);
body
{
    margin: 0px;
    padding: 0;
    background-image: linear-gradient(
    90deg,
    hsl(49deg 100% 69%) 0%,
    hsl(16deg 80% 61%) 2%,
    hsl(330deg 81% 34%) 12%,
    hsl(259deg 100% 15%) 50%,
    hsl(212deg 100% 25%) 88%,
    hsl(197deg 100% 30%) 98%,
    hsl(183deg 79% 36%) 100%
  );
  height: 100vh;


}
.botton
{
    cursor: pointer;
    border: 0.67px;
    border-radius: 5px;
    width: 20%;
    background-color: rgb(52, 49, 45);
    color: white;
    height: 30px;
}
.botton:hover
{
    filter: brightness(0.9);
}
.botton:active
{
    transform: translateY(2px);
    background-color: rgb(5, 120, 215);
    box-shadow: 3px 3px rgb(40, 36, 36);
}
.person
{
    display: flex;
    justify-content: center;
    gap: 10px;
    min-width: 40mh;
    margin: 10px auto 1px;
    
}
/* .botton Active-person
{
    background-color: rgb(14, 110, 235);
    box-shadow: 3px 3px white;
} */
.active-person
{
    background-color: rgb(39, 114, 227);
}
.chat
{
    position: absolute;
    left: 29%;
   background-color: #272a2e;
   width: 40%;
   min-width: 20.5em;
   /* max-height: 37.5em; */
   padding: 0.5em;
   margin: 0.2em;
   border-radius: 5px;
   box-shadow: 0 0 3px 2px rgb(31, 30, 30);
   height: 25.5em;
    
}
.chat-heading
{
    color: white;
    
}
.chat-masseges
{
    height: 18em; 
    overflow-y: scroll;
    color: #ffffff;
    padding: 1px;
    

}
.gray-bg
{
    background-color: rgb(32, 36, 36);
    padding: 5px;
    margin:2px;
    border-radius: 5px;
}
.blue-bg
{
    background-color:rgb(4, 79, 153);
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}
.massege-sender
{
    font-size: 0.5rem;
}
.massese-text
{
    font-size: 1.2rem;
    margin-bottom: 0.34em;
    word-wrap: break-word;
}
.massege-time
{
    font-size: 0.50rem;
    text-align: right;
}
.chat-input
{
    /* width:50%; */
    /* border: none; */
    display: flex;
    justify-content: center;
    position:relative;
    gap: 0.4em;
    

}
.text
{
    background-color: rgb(230, 241, 241);
    width:70%;
}
.atch,.submit
{
    background: transparent;
    border: none;
    color: #0a9afa;
    padding:0px;
    cursor: pointer;
    
}
.atch:active,.submit:active
{
    transform: translateY(2px);
}
.clear
{
    display: flex;
    justify-content: center;
    margin: 5px;
}