/*importing iocn form ionicons coping js code and peast it 
on html */
@import url(https://ionic.io/ionicons/usage);
body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 
}
/*The top we cell id. */
#top
{

    display: flex;
    justify-content: center;
    background-color: rgb(5, 99, 99);
    width: 100%;
    height: 150px;

}
#top p
{
    font-size: 3rem;
    margin-top: 30px;
    color: rgb(239, 243, 245);
    text-shadow: rgb(254, 249, 249);
}
/*#top img
{
    top:20px;
    position: absolute;
    height: 100px;
    width: 100px;
    left: 300px;
    <img class="logo" src="logo.jpg" alt="comp logo">
}*/
#top ul
{
    display: flex;
    
}
#top ul li
{
    list-style: none;
  
    
}
#top ul li a
{
    left:150px;
    top:25px;
    position: relative;
    text-decoration: none;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}
#top ul li a:hover
{
    color: rgb(5, 99, 99);
    background-color: aliceblue;
    border-radius: 20px;

}
#top .icon 
{
    position: relative;
    font-size: 3rem;
    right: -200px;
    top:-3px;
    padding: 40px;
    text-align: center;
    text-size-adjust: 10px;
}
#top label
{
    position: relative;
    font-size: 1.3rem;
    right: -130px;
    top:-3px;
    padding: 40px;
    top: 8px;
    letter-spacing: 5px;
}
#top .inputs
{
    top:38px;
    position: relative;
    width:300px;
    height: 40px;
    right: -465px;
    border-radius: 20px;

}
/*admin panel start*/
#admin
{
    background-color: rgb(207, 233, 233);
    height:600px;
}

.card
{
    
    position: absolute;

    display: flex;
    background: url('../admin.jpg') no-repeat center/cover;
    height: 500px;
    width:500px;
    right: 50px;
    margin-top: 50px;
    text-align: center;
    
}
.text 
{
    position: absolute;
    left: 200px;
    margin-top: 50px;
    width: 50%;
    font-size: 2.3rem; 
     
}

/*admin panel end*/
.work
{
    justify-content: center;
    width:98%;
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 238, 238);
    padding: 20px;
    height: 450px;

}
.deed 
{
    position:relative;
    display:flex;
    justify-content: center;
    padding: 20px;
    margin:10px;
    width: 33.3%; 
    border: 4px solid rgb(0,162,149);
    /*this padding for distenc form border to deed class*/
    padding: 20px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color:white;
       
}
.element 
{
    position: absolute;
    text-decoration: none;
    font-size: 2.3rem;
}
/*.Wtext
{
    position: absolute;
    display: flex;
    padding: 10px;
    width: 100%;
    margin-top: 100px;
    <div class="Wtext">       
    </div>
}*/
.primarytext
{
    position: relative;
    width: 33.3%;
    padding: 0px;
    margin-top: 100px;
    
}
#btn
{
    position: absolute;
    display:flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(218, 238, 238);
    
}
.click1
{
    position: absolute;
    left: 13%;
    font-size: 2rem;
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: -13px;
}
.click2
{
    position: absolute;
    left: 49%;
    font-size: 2rem;
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: -13px;
    
}
.click3
{
    position: absolute;
    left: 82%;
    font-size: 2rem;
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: -13px;
    
}
.click1:hover,
.click2:hover,
.click3:hover
{
    cursor: pointer;
}


.shape1
{
    position: absolute;
    background: rgb(250, 249, 249);
    height: 50px;
    width: 7px;
    transform: rotate(30deg);
    left: 430px;
    border-radius: 10px;
    top: 38px;
}
.shape2
{
    position: absolute;
    background: rgb(255, 252, 252);
    height: 50px;
    width: 7px;
    transform: rotate(30deg);
    left: 445px;
    border-radius: 10px;
    top: 38px;
}
.clinte
{
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content:center;
    width: 97%;
    font-size: 2rem;
    margin-right: 50px;
    padding: 25px;
    background-color: rgb(182, 241, 241) ;
    height: 50px;
    border: 2px solid white;
    color:rgb(113, 185, 248);

}
.clinte p
{
    margin: 50px;
    margin-top:5px;
}
 